<html>
  <head>
    <title> PAGE POTIN </title>
  </head>
  <body>
  <h1>PAGE POTIN</h1>
    <p>voici la page du potin N° <%=params['id']%></p>
     <p>Auteur :  <%=gossip[0]%></p>
     <p>Le potin :<%=gossip[1]%></p>
   <a href="/gossips/<%=params['id']%>/edit/">editer le potin n°<%=params['id']%> </a> </br>
   <p>
   <a href="/">revenir a la page d'acceuil</a>
  </p>
  </body>
</html>